:root {
  --blue-dark: #1E5FA8;
  --blue-main: #2F6FB3;
  --blue-light: #4F8FD8;

  --green-main: #2FAE60;
  --green-light: #5BC98A;

  --orange-main: #F39C3D;
  --red-main: #E55353;

  --bg-main: #F4F6F9;
  --bg-card: #FFFFFF;

  --text-title: #1F2D3D;
  --text-main: #34495E;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  color: #fff;
}
.header {
  background-color: var(--blue-dark);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header .title {
  font-size: 20px;
  font-weight: bold;
}
.header .title i {
  font-size: 40px;
  margin-right: 8px;
  vertical-align: middle;
}
.header .avatar {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  padding-right: 30px;
  position: relative;
  cursor: pointer;
}
.header .avatar .dropboxAdmin {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #3a3344;
  border: 1px solid #555;
  border-radius: 6px;
  display: none;
  flex-direction: column;
  min-width: 150px;
  z-index: 1000;
}
.header .avatar .dropboxAdmin.active {
  display: flex;
}
.header .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;
  background-color: var(--blue-light);
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* canh giá»¯a logo */
}

.sidebar .logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
  object-fit: contain;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.1));
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu li {
  margin-bottom: 12px;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s, opacity 0.2s;
}

.menu-link:hover,
.menu-link.active {
  background-color: #3a3344;
  opacity: 0.9;
}

.create-playlist {
  padding: 12px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.create-playlist a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.create-playlist:hover {
  /* background-color: #3a3344; */
  opacity: 70%;
}

.main-content {
  flex: 1;
  /* width: calc(100% - 240px); */
  padding: 20px;
  padding-bottom: 100px;
  background-color: var(--bg-main);
}

.main-content h2 {
  margin-bottom: 16px;
}

.btn-custom {
  background-color: #9b4de0;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 12px;
  display: inline-block;
}

.btn-custom:hover {
  background-color: #b86aff;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #231b2e;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #3a3344;
}

th {
  background-color: #2e253a;
}

img.img-thumbnail {
  border-radius: 4px;
  width: 60px;
  height: auto;
}

.action-btn {
  padding: 4px 8px;
  margin: 0 4px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.edit-btn {
  background-color: #ffc107;
}

.yt-btn {
  background-color: #28ff07ff;
}

.delete-btn {
  background-color: #dc3545;
}

.player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #1e1b2e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
  z-index: 100;
  border-top: 1px solid #333;
  box-sizing: border-box;
}

.player-left,
.player-center,
.player-right {
  display: flex;
  align-items: center;
}

.player-left {
  flex: 1;
  gap: 14px;
}

.player-left img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 8px;
}

.song-info h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.song-info p {
  font-size: 12px;
  color: #aaa;
}

.player-center {
  flex: 2;
  flex-direction: column;
  justify-content: center;
}

.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 8px;
  font-size: 20px;
}

.play-btn {
  font-size: 30px;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  padding: 6px;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  max-width: 500px;
}

.progress-bar {
  flex: 1;
  height: 4px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  cursor: pointer;
}

.player-right {
  flex: 1;
  justify-content: flex-end;
  gap: 14px;
  min-width: 220px;
}

.player-right .tag {
  border: 1px solid #666;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 4px;
  color: #aaa;
}

.volume-bar {
  width: 80px;
  height: 4px;
  cursor: pointer;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px;
}

.card {
  flex: 1;
  background-color: #2e253a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#totalSV {
  background-color: var(--blue-main);
}
#totalGV {
  background-color: var(--green-main);
}
#totalLop {
  background-color: var(--orange-main);
}
#totalKhoa {
  background-color: var(--red-main);
}

a {
  text-decoration: none;
  color: white;
}

.studentChart {
  margin-top: 40px;
  padding: 20px;
  background-color: var(--bg-card);
  border-radius: 8px;
}
.studentChart h3 {
  color: var(--text-title);
  margin-bottom: 20px;
}
.add {
  width: 200px;
  height: 30px;
  border: 1px solid;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1ca522ff;
}

.add > a {
  width: 100%;
  display: inline-block;
  line-height: 30px;
  margin: 5px;
  text-decoration: none;
  color: #fff;
}

